@import "base/reset";
@import "bourbon/bourbon";
@import "neat/neat";
@import url(https://fonts.googleapis.com/css?family=Raleway);

$scalar: 1.2;

// Sass exponent support
@function exponent($base, $exponent) {
  // reset value
  $value: $base;
  // positive intergers get multiplied
  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base;
    }
    // negative intergers get divided. A number divided by itself is 1
  }

  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: $value / $base;
    }
    // return the last value written
  }

  @return ($value);
}

@mixin font-size($level: 0) {
  font-size: 1rem * exponent($scalar, $level);
}

// Set

.logo {
  float: left;
  width: 16.875%;
}

.logo,
.nav-primary,
.lede {
  position: relative;
  z-index: 100;
}

.logo:after,
.nav-primary:after,
.lede:after {
  content: ".";
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

img {
  max-width: 100%;
}

hr {
  left: -1000em;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
}

// Cleafix and such

.mod:after,
.section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.mod,
.section {
  zoom: 1;
}
// Base

body {
  color: #262626;
  line-height: 1.5;
}

body {
  @include font-size(1);
  background: #CECECE url("/src/images/body.gif");
  background: url("/src/images/tile.png") repeat-x -2% -230px,
  url("/src/images/tile.png") repeat-x -4% 550px,
  url("/src/images/tile.png") repeat-x -8% 80%,
  url("/src/images/body.gif") repeat -50% 0,
  #CECECE;
  color: #303030;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

.site {
  background-image: url('/src/images/tile.png');
}


// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  margin: 0;
}

h1 {
  @include font-size(5);
}

h2 {
  @include font-size(4);
}

h3 {
  @include font-size(3);
}

h4 {
  @include font-size(2);
  letter-spacing: 0.05em;
}

h5 {
  @include font-size(1);
  letter-spacing: .05em;
}

h6 {
  @include font-size(-1);
  letter-spacing: 0.15em;
}

p {
  @include font-size(0);
  padding: 0;
  margin: 0;
}

h1 a {
  font: bold 0.458333333333333em Arial;
  color: #747474;
  text-transform: uppercase;
  text-decoration: none;
}

h2 a {
  font-size: 0.17910447761em;
  text-decoration: none;
}

// The Content

.page {
  margin: 36px auto;
  width: 90%;
}

.blog {
  background-color: red;
  margin: 0 auto 53px;
  width: 93.75%;
}

.blog .main {
  float: left;
  padding-top: 1em;
  padding-left: 2em;
  width: 62.8888889%;
}

.blog .other {
  float: right;
  padding-top: 1em;
  width: 36.7777778%;
}

.other__paragraph {
  @include font-size(0);
}

.other h1,
.recent-entries li {
  border-bottom: 1px solid #B8B7B5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.other h1 {
  clear: both;
  font-size: 0.6875em;			/* 11px / 16px */
  letter-spacing: 0.25em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

.other .section {
  margin: 40px auto;
  width: 69.7885196%;   /* 231 / 331 */
}

.recent-entries {
  margin: 0 auto;
  width: 69.7885196%;
}

.recent-entries p {
  padding-left: 2em;
}

.recent-entries h2 a {
  background: url('/src/images/lines.png') no-repeat 0 0.25em;
  color: #C52618;
  display: block;
  padding-left: 4em;
}

.welcome {
  clear: both;
  margin: 0 15.625% 53px;	/* 150 / 960 */
}

.welcome .main {
  clear: left;
  margin-top: -15px;
  padding-bottom: 12px;
  position: relative;
  width: 73.6363636%;
}

.welcome .main p {
  padding-left: 2.4691358%;
  padding-right: 2.4691358%;
}

.welcome,
.gallery {
  background: #F8F5F2 url("../img/noise.gif");
}

.main-title {
  @include font-size(3);
  background: #000000;
  border-left: 12px solid #000;
  color: #FFFFFF;
  line-height: .9;
  margin-bottom: 0.15em;
  margin-left: -12px;
  padding: 10px;
  text-transform: uppercase;
}

.blog .article {
  padding: 40px 8.48056537%;
}

.slides {
  position: relative;
  width: 112.272727%;				/* 741 / 660 */
}

.slides .figure {
  position: relative;
}

.slides .alt {
  display: none;
}

.slides .figure b {
  display: block;
  overflow: hidden;
  margin-bottom: 0;
}

.slides .figure b img {
  display: block;
  max-width: inherit;
}

.slides .figcaption {
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

// .figure {
//   float: right;
//   padding: 20px;
//   margin-top: 2em;
//   margin-bottom: 2em;
//width: 48.7341772%;
// }

.carousel {
  overflow: hidden;
  width: 100%;
}

.logo {
  background: #C52618 url('/src/images/logo-bg.jpg');
  float: left;
  padding: 20px;
  width:16.875%;
}

.nav--main {
  padding-top: 2em;
}

.nav-primary {
  @include font-size(0);
  background-color: #5E140D;
  background-image: url('/src/images/nav-bg.jpg');
  font:  bold 14px "pill-gothic-300mg-1","pill-gothic-300mg-2", Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-top: 1em;
  text-transform: uppercase;
  top: 24px;
  z-index: 99;
}

.nav-primary a {
  color: #EECBA5;
  padding: 1.2em 1em 1em;
  position: relative;
}

.nav-primary li {
  display: inline;
  padding-right: 1em;
}

.date {
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  @include font-size(-2);
  background: #262626;
  border-radius: 3px;
  color: #FFF;
  float: left;
  letter-spacing: 0.075em;
  margin: -4.25em 20px  0 -27.2340425531%;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  text-transform: uppercase;
  width: 80px;
}

.date span {
  display: block;
  @include font-size(0);
}

.blog {
  text-align: left;
  background: #F8F5F2 url("/src/images/blog-bg.png") repeat-y 63.1111111111111% 0;	/* 568/900 */
}

.blog .main {
  float: left;
  width: 62.8888889%;		/* 566px / 900px */
}

.blog .article {
  font-size: 0.875em;			/* 14px / 16px */
  padding: 40px 8.48056537%;	/* 48px / 566px */
}

.lede {
  background: #751910 url("/src/images/blog-title-bg.jpg");
  color: #F9E3CC;
  font: normal 1em "Raleway", "league-gothic-2", "League Gothic", "Arial Narrow", Arial, sans-serif;	/* 20px / 16px */
  padding: 0.8em 5.33333333%;	/* 16px / 20px; 48px / 900px */
  text-align: left;
  text-transform: uppercase;
}

.lede a {
  color: #F8F5F2;
  font-size: 1em;
  position: relative;
  z-index: 1;
}

.title {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.intro {
  font-size: 1.14285714em;
  padding-left: 1em;
}

blockquote,
.blog .figure {
  float: right;
  margin-bottom: 0.5em;
  margin-left: 2.55319149%;
  width: 49.14893617%;
}

blockquote {
  border-width: 1px 0;
  border: 1px solid #AAA;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: #B65600;
  font: italic 1.21428571em/1.35294118 Georgia, Times, serif;	/* 17px / 14px; 23px / 17px */
  padding: 1.1em 0 0.1em;
}

.blog .figure {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #EEE;
  text-decoration: none;
}

.blog .figure p {
  padding: 0.5em;
  margin: 0;
}

.copy {
  background-color: #333333;
  color: #B0B0AE;
  font-size: 12px;
  padding: 1em;
  text-align: right;
}

.img {
  max-width: 100%;
}

.meta {
  @include font-size(0);
  border-top: 1px solid #999;
  color: #666;
  padding: 1em 0;
  text-align: right;
}

.meta h1,
.meta h2 {
  @include font-size(-1);
}
.meta h1 {
  margin-bottom: 0.5em;
}

.meta h2,
.meta ul,
.meta li {
  display: inline;
}

.meta cite {
  font-style: normal;
  font-weight: bold;
}

.meta h2 {
  margin-right: 0.5em;
}

.footer {
  text-align: center;
  @include font-size(-2);
}

.footer p {
  @include font-size(-1);
}

//.page media queries

@media screen and (min-width: 1100px) {
  .page {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .page {
    width: 70%;
  }
}
@media screen and (min-width: 1600px) {
  .page {
    width: 65%;
  }
}
@media screen and (min-width: 1900px) {
  .page {
    width: 60%;
  }
}
@media screen and (min-width: 2100px) {
  .page {
    width: 50%;
  }
}

// Helpers

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

// colors

.blue {
  background-color: #3498db;
}

.clouds {
  background-color: #ecf0f1;
}

.green {
  background-color: #2ecc71;
}

.orange {
  background-color: #e67e22;
}

.purple {
  background-color: #9b59b6;
}

.red {
  background-color: #e74c3c;
}

.sunflower {
  background-color: #f1c40f;
}

// Media queries

@media screen and (max-width: 768px) {
  .page {
    margin: 20px;
    width: auto;
  }

  .welcome,
  .blog,
  .gallery {
    margin: 0 0 30px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {

  .blog .main {
    width: 100%;
  }

  .blog .other {
    width: 100%;
  }

  .main-title {
    font: normal 0.9em "league-gothic-1", "league-gothic-2", "League Gothic", "Arial Narrow", Arial, sans-serif;	/* 58/16 */
  }

  .page {
    position: relative;
    margin: 20px;
    width: auto;
  }

  .welcome,
  .blog,
  .gallery {
    margin: 0 0 30px;
    width: auto;
  }

  .slides .figure b {
    width: auto;
  }

  .sides .figure b img {
    max-width: 100%;
  }

  .logo {
    float: none;
    margin: 0 auto 20px;
    position: relative;
  }

  .nav-primary {
    margin-bottom: 20px;
    text-align: center;
  }

}

@media screen and (max-width: 520px) {
  .nav-primary {
    float: left;
    width: 100%;
  }

  .nav-primary li {
    clear: left;
    float: left;
    width: 60%;
  }

  li#nav-rated,
  li#nav-contact {
    clear: right;
    float: right;
  }

  .nav-primary a {
    display: block;
    padding: 0.45em;
  }
}

@media screen and (min-width: 1200px) {
  .welcome,
  .blog,
  .gallery {
    width: 49.365%;
  }

  .welcome,
  .gallery {
    float: right;
    margin: 0 0 40px;
  }

  .blog {
    float: left;
    margin: 0 0 20px;
  }
}


